<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Redirect Manager</label>
    <label lang="en">Redirect Manager</label>

    <version>1.0.7</version>
    <copyright>(c) scope01 GmbH</copyright>
    <license>MIT</license>
    <link>scope01.de</link>
    <author>scope01 GmbH</author>

    <compatibility minVersion="5.5.0" />

    <changelog version="1.0.7">
        <changes lang="de">Fehlermeldungen im Log bei Weiterleitungen behoben</changes>
        <changes lang="en">Fixed errors in log file on doing redirects</changes>
    </changelog>

    <changelog version="1.0.6">
        <changes lang="de">
            - Das automatische Hinzufügen von "/" am Ende der URL-Umleitung ist nun konfigurierbar
            - Verbesserung der Übersetzungen und der Usability im Backend
            - Verbessertes Errorhandling und Validierung
        </changes>
        <changes lang="en">
            - Auto-adding "/" at the end of redirecting URL can be configured
            - Improved translations and usability in backend
            - Improved error handling and validation
        </changes>
    </changelog>

    <changelog version="1.0.5">
        <changes lang="de">Support für Shopware Version 5.5.0</changes>
        <changes lang="en">Support for Shopware version 5.5.0</changes>
    </changelog>

    <changelog version="1.0.4">
        <changes lang="de">Support für Shopware Version 5.5.10</changes>
        <changes lang="en">Support for Shopware version 5.5.10</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>

    <description lang="de">Mit dem SEO Redirekt Plugin der Internetagentur scope01 aus Frankfurt am Main (https://scope01.com/) können Sie schnell und einfach Weiterleitungen im Backend von Shopware verwalten.</description>
    <description lang="en">With the SEO redirect plugin of the agency scope01 from frankfurt(m) (https://scope01.com/) you are able to create and manage redirects from the admin area of shopware.</description>
</plugin>
