<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean" scope="shop">
            <name>dontAddSlash</name>
            <label lang="de">Slash am Ende der URL deaktivieren</label>
            <label lang="en">Disable appending slash at the end of the URL</label>
            <value>false</value>
            <description lang="de">An jede Weiterleitungsurl wird automatisch ein Slash am Ende hinzugefügt. Dieses Verhalten kann mit dieser Option abgeschaltet werden.</description>
            <description lang="en">On every redirection url, a slash is automatically appended. This behaviour can be deactivated with this option.</description>
        </element>
    </elements>
</config>
